cmake-build-debug
cmake-build-release
/.idea/
*.log
/*.sh
/*.obj
/*.exe
.cache/
.https_debug/
Launcher.cfg
Resources/
bin/
compile_commands.json
key
out/
build/
.vscode/
vcpkg/
vcpkg_installed/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile
BeamMP-Launcher
.DS_Store