cmake-build-debug
cmake-build-release
/.idea/
*.log
/*.sh
/*.obj
/*.exe
.DS_Store/
.cache/
.https_debug/
Launcher.cfg
Resources/
bin/
compile_commands.json
key
out/
vcpkg_installed/

build-linux/
build-macos/
build-windows/

