cmake-build-debug/CMakeFiles/
cmake-build-release/CMakeFiles/
cmake-build-debug/BeamNG/
cmake-build-release/BeamNG/
cmake-build-debug/Resources/
cmake-build-release/Resources/
cmake-build-debug/*.*
cmake-build-release/*.*
cmake-build-debug/Makefile
cmake-build-release/Makefile
/.idea/
*.log
cmake-build-release/key
